# хеширование паролей
bcrypt

# работа с БД (postgreSQl)
psycopg2

# фреймворк
flask

# CORS (механизм для разрешения браузеру делать запросы с одного сайта на другой)
flask_cors

# .env файл
python-dotenv

# схемы (библиотека для описания какие данные и какого типа отправляешь или получаешь)
pydantic


# автоматическое генерирование swagger-документа
flask-restx